--- 
--- 

@import "materialize.min";

/* COLONNA A DESTRA DELLA SIDENAV */
#rightcolumn {
    padding-left: 300px;
    /* sposta elementi a destra per non farli coprire dalla sidenav */
    display: flex;
    /* utilizza flex per .grow */
    flex-direction: column;
    /* cambia valore di default da row a column */
    min-height: 100vh;
    /* l'altezza minima e' di una pagina */
}

/* ELEMENTO CHE SI ESPANDE (PARENT DISPLAY FLEX) */
.grow {
    flex-grow: 1;
    /* occupa spazio disponibile */
}

/* ELEMENTO NASCOSTO */
.hidden {
    display: none;
}

/* MEDIA QUERY PER SCHERMI MEDI */
@media only screen and (max-width : 992px) {

    /* COLONNA A DESTRA DELLA SIDENAV */
    #rightcolumn {
        padding-left: 0;
        /* rimuovi padding, la sidenav e' nascosta */
    }
}


.bold {
    font-weight: bold; /* grassetto */
}

.mx-auto{
    margin: 0px auto; /* margine orizzontale automatico */
}

.w100{
    width: 100%; /* Occupa tutta lunghezza parent */
}

/* Elemento con testo non selezionabile */
.not-selectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
}

/* Rimuovi stili della classe per le immagini:
   con la definizione dei vecchi stili
   alcune immagini non erano visibili sugli smartphone.
*/
.materialboxed {
    -webkit-transition: unset;
    transition: unset;
    -webkit-backface-visibility: unset;
    backface-visibility: unset;
}

/* Rimuovi stile per il codice:
   Sugli smartphone "position: relative" non rende visibili alcuni elementi
*/
div.code-toolbar {
    position: unset!important;
}

.resp-img {
    width: auto;
    max-height: 500px;
    max-width: 100%;
}


/* Crea scrollbar con i prefissi dei vari browser */
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
        background: $background-color;
    }
  
    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

/* usa la scrollbar personalizzata */
body{
    @include scrollbars(15px, #ffb74d, #eeeeee);
}

/* NOTIFICA DI AGGIORNAMENTO PWA IN BASSO */
#toast-container {
    position: fixed;
    left: 17vw;
    bottom: 5px;
    width: 71vw;
    min-width: unset;
    max-width: unset;
    top: unset;
}

@media only screen and (orientation: portrait) {
    #toast-container {
        left: 0;
        width: 100vw;
    }
}

/* RIDUCI FONT PER SCHERMI SUPER PICCOLI (Es. Galaxy Fold in orientazione portrait e JioPhone 2) */
@media only screen and (max-width: 300px){
    h3 {
        font-size: 2.42rem;
    }
}

@media only screen and (max-width: 250px){
    h3 {
        font-size: 2.00rem;
    }
}