<h3>Cosa cambia dal progetto 100+100?</h3>
<p>
    In generale e' piu' semplice da configurare (molto e' configurabile dall'interfaccia grafica)
    e piu' affidabile.
    Guarda la tabella delle differenze qua sotto:
</p>

<!-- TABELLA CON DIFFERENZE PROGETTO 100+100 E 201 -->
<table class="responsive-table striped">
    <thead>
        <tr>
            <th>Caratteristica</th>
            <th>Progetto 100+100</th>
            <th>Progetto201</th>
            <th>Notazione</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Scalable</td>
            <td>no</td>
            <td>si</td>
            <td>
                <p>Il progetto 100+100 era limitato sia come tipologia sia come quantita' di sensori:
                </p>
                <ul class="collection">
                    <li class="collection-item">Non potevano esserci piu' di un sensore per stanza</li>
                    <li class="collection-item">Non potevano essere aggiunti facilmente altre tipologie di sensore</li>
                </ul>

            </td>
        </tr>
        <tr>
            <td>Protocollo comunicazione dati tra sensore e centralina</td>
            <td>HTTP</td>
            <td>MQTT</td>
            <td>MQTT e' un protocollo nato per la comunicazione tra dispositivi IoT ed e' molto leggero
            </td>
        </tr>
        <tr>
            <td>DNS</td>
            <td>No</td>
            <td>Si</td>
            <td>Grazie a DNSMASQ e' possibile utilizzare nomi di dominio e tradurli in indirizzi IP</td>
        </tr>
        <tr>
            <td>DHCP</td>
            <td>No</td>
            <td>Si</td>
            <td>DNSMASQ permette anche di configurare automaticamente gli indirizzi IP dei dispositivi
                che si connettono alla centralina</td>
        </tr>
        <tr>
            <td>Planimetria modificabile da interfaccia</td>
            <td>No</td>
            <td>Si</td>
            <td>E' possibile aggiungere dalla pagina delle impostazioni i "label" che possono
                visualizzare rilevazioni dei sensori o possono
                essere cliccati per accedere ad una pagina con i grafici delle rilevazioni
            </td>
        </tr>
    </tbody>
</table>

<p>
    E molto altro...
</p>