<!-- NAVBAR CON TITOLO, PULSANTE PER VISUALIZZARE SIDENAV SU SCHERMI PICCOLI E MEDI, ANCHOR AL REPOSITORY -->
<div class="navbar">
    <nav id="navbar" class="light-blue lighten-1">
        <div class="nav-wrapper container">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium show-on-small hidden">
                <i class="material-icons">menu</i>
            </a>
            
            <a href="/" class="brand-logo">Progetto201</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="https://github.com/progetto201" class="waves-effect waves-light btn orange lighten-2"><i class="material-icons left">get_app</i>Repository Github</a></li>
            </ul>
        </div>
    </nav>
</div>