{% comment %}
<!-- 
    Questo file usa i link provenienti da links.html (id dei tag h4)
    e i titoli dei tag h4 (provenienti da toc.html) per creare
    l'indice dei contenuti.
 -->
{% endcomment %}


{% comment %}
<!-- Recupera da links.html gli id dei tag -->
{% endcomment %}
{% include html/links.html %}
{% assign links = links_list | split: ";" %}

{% comment %}
<!-- Includi toc.html che ottiene dalla pagina gli h4 -->
{% endcomment %}

{% capture toc %}
{% include html/toc.html html=page h_min=4 h_max=4 %}
{% endcapture %}

{% comment %}<!-- ========================================================== -->{% endcomment %}

{% comment %}
<!-- Togli l'html e dividi le stringhe sul carattere newline -->
{% endcomment %}

{% assign toc_rows = toc | strip_html | split: "\n" %}

{% comment %}<!-- ========================================================== -->{% endcomment %}

{% comment %}
<!-- Scorri i link e colleziona gli elementi non vuoti -->
{% endcomment %}

{% assign linkscsv = "" %}

{% for link in links %}
    {% if link != "" %}
        {% assign linkscsv = linkscsv | append: link | append: ";" %}
    {% endif %}
{% endfor %}

{% assign linkscsv_els = linkscsv | split: ";" %}


{% comment %}<!-- ========================================================== -->{% endcomment %}

{% comment %}
<!-- Scorri gli elementi dell'indice e ignora quelli vuoti -->
{% endcomment %}

{% assign toccsv = "" %}

{% for toc_row in toc_rows %}
    
    {% assign s_toc_row = toc_row | strip | strip %}

    {% if s_toc_row != "" %}
        {% assign toccsv = toccsv | append: s_toc_row | append: ";" %}
    {% endif %}
{% endfor %}

{% assign toccsv_els = toccsv | split: ";" %}

{% comment %}<!-- ========================================================== -->{% endcomment %}

<ul class="collection">
    {% for toc_el in toccsv_els %}
        {% assign i = forloop.index0 %}
        <li class="collection-item"><a href="#{{linkscsv_els[i]}}">{{toc_el}}</a></li>
    {% endfor %}
</ul>