<!-- SIDENAV -->
<ul id="slide-out" class="sidenav sidenav-fixed">
    <h5 style="padding: 0 32px;">Indice:</h5>
    <hr>
    <li><a href="/"><i class="material-icons">home</i>Home</a></li>
    <hr>
    <li><a href="/difference.html"><i class="material-icons">compare</i>Confronta con 100+100</a></li>
    <hr>
    <li><a href="/docs.html"><i class="material-icons">description</i>Link documentazioni</a></li>
    <hr>
    <li><a href="/start.html"><i class="material-icons">play_arrow</i>Come iniziare</a></li>
    <hr>
    <li><a href="/floorplan.html"><i class="material-icons">architecture</i>Personalizzare planimetria</a></li>
    <hr>
</ul>