<div class="videospeed-controller hidden hide-on-print" style="display: flex;">
    <a class="btn orange lighten-2" 
    style="width: calc(33.33% - 5px);margin-right: 5px;display: flex;justify-content: center;" 
    onclick="this.parentElement.previousElementSibling.playbackRate = 0.5">
        
        <i class="material-icons">fast_rewind</i>
        <span class="msg-speed">Velocita' </span> 0.5
    </a>

    <a class="btn orange lighten-2" 
    style="width: 33.33%;" 
    onclick="this.parentElement.previousElementSibling.playbackRate = 1.0">
        <span class="msg-speed">Velocita' </span> 1.0
    </a>
    
    <a class="btn orange lighten-2" 
    style="width: calc(33.33% - 5px);margin-left: 5px;display: flex;justify-content: center;" 
    onclick="this.parentElement.previousElementSibling.playbackRate = 1.5">
        <span class="msg-speed">Velocita' </span> 1.5
        <i class="material-icons">fast_forward</i>
    </a>
</div>

