---
layout: default
---



    <!-- WRAPPER PER I VIDEO E IL DOCUMENTO SVG-->
    <div id="svg-video-wrapper" class="wrapper">
        <div id="svg-container"></div>
        <div id="infoi">
            <video id="" class="video materialboxed" width="100%" autoplay loop muted playsinline src="/assets/video/river.mp4"></video>
            <video id="" class="video materialboxed hidden" width="100%" autoplay loop  playsinline muted src="/assets/video/fireplace.mp4"></video>
        </div>
    </div>

    <!-- SEPARA VIDEO E CONTAINER -->
    <br><br>
    
    {{ content }}
